<h1>Registro</h1>
<hr>
<form action="/api/sessions/login" method="post">
    <input type="email" name="email" placeholder="Correo electronico">
    <input type="password" name="password" placeholder="Contraseña">
    <br>
    <input type="submit" value="Login">

<br><br>
{{>navBar}}
</form>