<h1>Registro</h1>
<hr>
<form action="/api/sessions/singUp" method="post">
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="email" name="email" placeholder="Correo electronico">
    <input type="password" name="password" placeholder="Contraseña">
    <br>
    <input type="submit" value="Registrar">

</form>
<br><br>
{{>navBar}}